<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h2><a href="/">Our Wonderful App</a></h2>
      <nav>
        <a href="#">Log In</a>
      </nav>
    </header>
    <main>
      <h2>login page
      </h2>
      <p>
        learn learn Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Soluta cum, doloremque, id delectus numquam, non sed quia repellendus
        similique itaque accusamus atque. Sit corporis itaque aut exercitationem
        quia? Hic, consectetur.
      </p>
    </main>
    <footer>
      <small>&copy; Our Wonderful App</small>
    </footer>
  </body>
</html>
